body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.9));
  background: linear-gradient(
      rgba(209, 206, 206, 0.5),
      rgba(201, 194, 194, 0.5)
    ),
    url("/images/background-image.jpeg") no-repeat center center/cover;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #000;
}

.logo-container {
  display: flex;
  justify-content: center;
  gap: 1000px;
  align-items: center;
  padding: 30px;
}

.logo-container img {
  height: 140px;
  max-width: 100%;
}

.content {
  margin-top: 20px;
}

.content h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  font-weight: bold;
}

.app-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 70px;
}

.app-buttons img {
  height: 80px;
  max-width: 100%;
  cursor: pointer;
}

.member-button {
  display: inline-block;
  margin-top: 20px;
  padding: 15px 30px;
  background-color: darkred;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: underline;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration-thickness: 2px;
}

.member-button:hover {
  background-color: red;
}

/* Media Queries for responsiveness */
@media (max-width: 1200px) {
  .logo-container {
    gap: 50px; /* Smaller gap for larger tablets */
  }

  .logo-container img {
    height: 100px; /* Smaller images on medium screens */
  }

  .content h1 {
    font-size: 2.5rem; /* Reduce font size */
  }
}

@media (max-width: 768px) {
  .logo-container {
    flex-direction: column; /* Stack the images vertically on smaller screens */
    gap: 20px;
  }

  .logo-container img {
    height: 90px; /* Further reduced image size */
  }

  .content h1 {
    font-size: 2rem; /* Smaller text on mobile screens */
  }

  .app-buttons {
    margin: 30px 10px; /* Less margin on smaller screens */
    gap: 15px; /* Reduce button gap */
  }

  .app-buttons img {
    height: 60px; /* Smaller app buttons on mobile */
  }

  .member-button {
    padding: 10px 20px; /* Reduced padding for smaller screens */
    font-size: 1rem; /* Smaller font size */
  }
}

@media (max-width: 480px) {
  .content h1 {
    font-size: 1.5rem; /* Further reduce text size */
  }

  .app-buttons img {
    height: 50px; /* Even smaller app buttons on very small screens */
  }

  .member-button {
    padding: 8px 15px; /* Reduced padding */
    font-size: 0.9rem; /* Smaller font size */
  }
}
